<div class="band">
	<div *ngFor="let drink of (menu$ | async).drinks" class="drink-card">
		<h3 class="title">{{ drink.shortname }}</h3>
		<div class="thumb" style="background-image: url(https://fakeimg.pl/250x250/);"></div>
		<hr>
		<article>
			<p>degrée : <strong>{{ drink.abv }}°</strong> / Prix : <strong>7.5€</strong></p>
			<span class="xp-number">1200</span><span class="xp">xp</span>
			<p class="description">{{ drink.description }}</p>
		</article>
		<button mat-raised-button routerLink="/menu" color='accent'>commander</button>
	</div>
</div>