<div class="flex-center column-container">
	<img src="/assets/logo_or.png" alt="logo donjon et boisson">
	<p>Application de tracker de consommation de boisson sous la forme d'un RPG. Tu commandes des boissons dans le bar de ton choix. Lorsque que tu as été servi, tu obtiens de l’XP pour équiper ton avatar</p>
	<div class="mt-5">
		<button mat-raised-button routerLink="/signup" class="primary-button">Inscription</button>
		<p>ou</p>
		<button mat-raised-button routerLink="/signin" class="secondary-button">Connexion</button>
	</div>
</div>