<div class="row-container center top-note">
	<mat-icon>store_mall_directory</mat-icon>
	<p>Choisis ton lieu de beuverie.
		Tu pourras ensuite accéder à la carte des boissons.</p>
	</div>
<section>
	<div *ngFor="let bar of (bars$ | async)" class=" card row-container center">
		<div class="card-header">
			<img class="logo-img" src="https://fakeimg.pl/300/" alt="fake-img">
		</div>
		<div class="card-content">
			<p>{{ bar.longname }}</p>
			<div>{{ bar.address }}</div>
		</div>
		<div class="card-action">
			<button mat-raised-button routerLink="/menu/{{bar._id}}" color='accent'>choisir</button>
		</div>
	</div>
</section>