.logo-img {
	height: 60px;
	width: 60px;
}

.row-container {
	display: flex;
	flex-flow: row nowrap;
	padding: 2px;
}

.center {
	justify-content: center;
	align-items: center;
}

.card {
	background-color: #FFFFFF;
	border-radius: 4px;
	margin: 8px 15px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(34, 34, 34, 0.2);
}

.card-header, .card-actions {
	background-color: inherit;
	border: 0;
	flex-grow: 0;
	margin: 0;
	padding: 0;
}

.card-actions {
	flex-grow: 1;
}

.card-content {
	flex-grow: 100;
	text-align: start;
}

.card-content > p {
	font-size: 0.9em;
	font-weight: bold;
	color: #6E2424;
}


.card-content > div {
	font-size: 0.8em;
}

.card-action {
	flex-grow: 1;
}

/* TOP NOTE */
.top-note {
	margin: 40px 15px;
}

.top-note > mat-icon {
	weight: 50px;
	height: 50px;
	font-size: 50px;
}

.top-note > p {
	font-weight: 500;
} 