<div class="flex-center column-container mt-3">
	<img src="/assets/logo_or.png" alt="logo donjon et boisson">
	<p class="mt-5">Bon retour parmi nous...</p>
	<!-- Signin Form -->
	<p *ngIf="infoMessage" class="welcome-text">Bienvenue parmi nous, n'hésites pas à te connecter !</p>
	<form [formGroup]="form" class="flex-center column-container">
		<mat-card class="size-7 form-card">
			<mat-card-content>
				<!-- email input -->
				<mat-form-field>
					<mat-label>Adresse mail</mat-label>
					<input matInput formControlName="email" type="email">
					<mat-error *ngIf="form.controls['email'].errors?.required">un email est <strong>requis</strong></mat-error>
					<mat-error *ngIf="form.controls['email'].errors?.email">votre email est invalide</mat-error>
				</mat-form-field>
				<!-- password input -->
				<mat-form-field>
					<mat-label>Mot de passe</mat-label>
					<input matInput formControlName="password" type="password" autocomplete="on">
					<mat-error *ngIf="form.controls['password'].errors?.required">un mot de passe est <strong>requis</strong></mat-error>
				</mat-form-field>
			</mat-card-content>
			<mat-card-footer *ngIf="error$ | async; let error">
				<mat-error class="error-display">{{ error }}</mat-error>
			</mat-card-footer>
		</mat-card>
		<button mat-raised-button type="submit" (click)="onSubmit()" class="mt-3 secondary-button" [disabled]="form.invalid">Connexion</button>
	</form>
	<p class="mt-3">Nouveau joueur ? <span class="link" routerLink="/signup">inscris toi ici</span></p>
</div>