<span (click)="sendNotification()">Send notification</span>
<div 
	fxLayout="row wrap" 
	fxLayoutAlign="center center" 
	fxLayoutGap="15px"
	style="margin-top: 60px;">
	<img *ngFor="let photo of (photos$ | async)" [src]="photo.url">
</div>
