<mat-toolbar *ngIf="isLoggedIn$ | async" color="primary" fxLayoutGap="15px">
	<button mat-button class="menu-button" (click)="sidenav.toggle()">
		<mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
	</button>

	<span *ngIf="(currentUser$ | async) as user">
		{{ user.pseudo }}
	</span>

	<img class="profile-pic" src="https://fakeimg.pl/300/" alt="fake-img">

	<!-- <span *ngIf="!(isLoggedIn$ | async)" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
		<mat-icon class="link" routerLink="/signin">login</mat-icon>
		<mat-icon class="link" routerLink="/signup">launch</mat-icon>
	</span> -->
	<span *ngIf="isLoggedIn$ | async" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
		<!-- <mat-icon class="link" routerLink="/profile">account_circle</mat-icon>	 -->
		<mat-icon class="link" routerLink="/" (click)="onLogout()">power_settings_new</mat-icon>
	</span> -->
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
		<a mat-button routerLink="/profile">Profil</a>
		<a mat-button (click)="onLogout()">Déconnexion</a>
	</mat-sidenav>
	<mat-sidenav-content>
		<main>
			<router-outlet></router-outlet>
		</main>
	</mat-sidenav-content>
</mat-sidenav-container>