input {
	outline: 0;
	padding: 3px 20px;
	font-size: 14px;
	border-radius: 3px;
	border: 0;
}

.menu-button {
	margin-right: 24px;
	min-width: 0;
	padding: 0;
	line-height: normal;
}

.profile-pic {
	height: 60px;
	width: 60px;
}

.sidenav-container {
    flex: 1;  
}

.sidenav {
	min-width: 240px;
	
}

a {
	display: block;
	padding: 6px 24px;
	width: 100%;
	text-align: left;
}

main {
	padding: 18px 24px;
	height: 100%;
}