<div class="flex-center column-container mt-3">
	<img src="/assets/logo_or.png" alt="logo donjon et boisson">
	<p class="mt-5">Ah ! Tu veux commencer l'aventure !?</p>
	<p>C'est pas ta première fois ? <span class="link" routerLink="/signin">connectes toi ici</span></p>
	<!-- Signup Form -->
	<form [formGroup]="form" class="flex-center column-container">
		<mat-card class="size-7 form-card">
			<mat-card-content class="card-container">
				<!-- pseudo input -->
				<div>
					<mat-form-field floatLabel="never" color="accent">
						<div>Pseudo</div>
						<input matInput formControlName="pseudo" type="text">
						<mat-error *ngIf="form.controls['pseudo'].errors?.required">un pseudo est <strong>requis</strong></mat-error>
						<mat-error *ngIf="form.controls['pseudo'].errors?.minlength || form.controls['pseudo'].errors?.maxlength">le pseudo doit être entre <strong>3 et 20 caractères</strong></mat-error>
					</mat-form-field>
				</div>
				<!-- email input -->
				<div>
					<mat-form-field floatLabel="never" color="accent">
						<div>Adresse mail</div>
						<input matInput formControlName="email" type="email">
						<mat-error *ngIf="form.controls['email'].errors?.required">un email est <strong>requis</strong></mat-error>
						<mat-error *ngIf="form.controls['email'].errors?.email">votre email est invalide</mat-error>
					</mat-form-field>
				</div>
				<!-- password input -->
				<div>
					<mat-form-field floatLabel="never" color="accent">
						<div>Mot de passe</div>
						<input matInput formControlName="password" type="password" autocomplete="on">
						<mat-error *ngIf="form.controls['password'].errors?.required">un mot de passe est <strong>requis</strong></mat-error>
						<mat-error *ngIf="form.controls['password'].errors?.minlength">le mot de passe doit faire au moins <strong>8 caractères</strong></mat-error>
					</mat-form-field>
				</div>
				<!-- confirm password input -->
				<div>
					<mat-form-field floatLabel="never" color="accent">
						<div>Confirmation mot de passe</div>
						<input matInput formControlName="confirmPassword" type="password" autocomplete="on">
						<mat-error *ngIf="form.controls['confirmPassword'].errors?.noMatch">les deux mots de passe ne sont pas identiques</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
			<!--  Servor Error handler -->
			<mat-card-footer>
				<mat-error *ngIf="err$ | async; let error" class="error-display">{{ error }}</mat-error>
			</mat-card-footer>
		</mat-card>
		<p>Vous êtes une entreprise ? <span class="link" routerLink="/tkt">Nous contacter ici</span></p>
		<!-- consent CGU -->
		<div class="small-text">
			<mat-checkbox formControlName="consentCGU" (change)="onCheckboxChange($event)">Je consens au CGU (tu gagnes 1000XP si tu les lis en entier)</mat-checkbox>
			<mat-error *ngIf="consentChecked === false">il faut accepter les CGU pour s'inscrire...</mat-error>
		</div>
		<button mat-raised-button type="submit" (click)="onSubmit()" class="mt-3 primary-button" [disabled]="form.invalid">Inscription</button>
	</form>
</div>