/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
	height: 100%;
}

body { 
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #f1f1f1;
	text-align: center;
	color: #222222;
}

.link {
	outline: 0;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

/* Flex for center and container */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}


.column-container {
	flex-flow: column nowrap;
	padding: 5px;
}

.row-container {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

.column-container > *, .row-container > * {
	margin: 5px;
}

/* BUTTONS */
.primary-button {
	padding: 8px 40px;
	background: #EAE000;
	font-size: large;
	color: #F1F1F1;
	text-transform: uppercase;
	-webkit-text-stroke: 0.2px black;
	font-weight: bold;
	border: 1px solid #222222;
	box-shadow: 0px 2px 0px rgba(34, 34, 34, 0.6), inset 0px 4px 0px #FFF851;
	border-radius: 5px;
}

.secondary-button {
	padding: 8px 40px;
	font-size: small;
	background: #3D00EA;
	color: #F1F1F1;
	text-transform: uppercase;
	-webkit-text-stroke: 0.2px black;
	font-weight: bold;
	border: 1px solid #222222;
	box-shadow: 0px 2px 0px rgba(34, 34, 34, 0.6), inset 0px 4px 0px #7c4dff;
	border-radius: 5px;
}

/* Form card in grey background*/
.form-card {
	border-radius: 5px;
	border: #222222 1px solid;
	background-color: #d2dae2;
}

.card-container {
	display: flex;
	flex-direction: column;
}

.error-display {
	font-size: 0.8em;
	margin-bottom: 3px;
}

/* Custom Text classes */
.small-text {
	font-size: 0.7em;
	font-weight: 300;
}

.welcome-text {
	font-size: 0.8em;
	font-weight: 700;
	color: #f1c40f;
}